@font-face {
    font-family: 'Vulf Mono Light Italic';
    src: url('fonts/Vulf_Mono-Light_Italic_web.woff2') format('woff2'),
         url('fonts/Vulf_Mono-Light_Italic_web.woff') format('woff'),
         url('fonts/Vulf_Mono-Light_Italic_web.ttf') format('truetype');
    /* font-weight: normal; */
    font-style: italic;
}

@font-face {
    font-family: 'Vulf Mono Bold Italic';
    src: url('fonts/Vulf_Mono-Bold_Italic_web.woff2') format('woff2'),
         url('fonts/Vulf_Mono-Bold_Italic_web.woff') format('woff'),
         url('fonts/Vulf_Mono-Bold_Italic_web.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


:root {
    --link-color: #49a4ee;
    /* --transition-time: 2.3s;  */
    
    /* #59acf0 */
}

html, body {
    margin: 0;
    padding: 0;
    justify-content: center; /* Center horizontally */
    font-family: 'Vulf Mono Bold Italic'; /* TESTING HERE */
    text-align: center; /* Center text elements horizontally */
    font-size: 12px;

}

.content {
    width: 100%; /* Adjust width as needed */
      /* The font-size in the image */
    font-size: 12px;
    font-family: 'Vulf Mono Bold Italic'; /* TESTING HERE */
    /* font-weight: bold; */

    /* The line-height in the image */
    line-height: 16.8px; /* Might also be 1.4 if the value is a multiple of the font size */

    /* Text-align in the image */
    text-align: center;

    /* Letter-spacing in the image */
    /* letter-spacing: normal; */

    /* The image shows auto margins which center the block-level element */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    /* If you need to specify the color and background, assuming they are as default */
    /* background-color: white; */

    display: block; /* Ensures that .content is a block-level element */
    /* clear: both;    Ensures that no floating elements are to the left or right */

    /* DARK MODE TINGS */
    /* transition: background-color var(--transition-time);;
    transition: color var(--transition-time);;  */

    /* DARK MODE TINGS */

}


/* DARK MODE TINGS */

/* 
body {
    /* transition: background-color 1.3s, color 1.3s;
} */


body.dark-mode {
    background-color: black;
    color: white;
}

#dark-mode-toggle {
    cursor: pointer;
    /* Any other styles you want for the toggle element */
}

#dark-mode-toggle {
    padding: 0;        /* Remove padding */
    background: none;  /* No background unless you want it */
    border: none;      /* No border unless it's part of your design */
    display: inline;   /* Display inline like a span of text */
    cursor: pointer;
    /* Any other styles you want for the toggle element */
    /* If you want the font styles to match other text */
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* DARK MODE TINGS */

.bold-italic {
    font-family: 'Vulf Mono Bold Italic';
    font-weight: bold; /* Only necessary if the browser doesn't automatically infer the weight from the font */
    font-style: italic;
}

a {
    color: var(--link-color);;
}


a:visited {
    color: var(--link-color);; /* or specify your preferred color */
}

/* ASCII ART TYPE BEAT */
.ascii-art {
    /* position: absolute; or fixed, depending on what you need */
    white-space: pre; /* to maintain spacing and line breaks in ASCII art */
    /*font-family: 'monospace';/*  Typically ASCII art looks best in monospace */
    /* font-family: 'Vulf Mono Light Italic', */
    color: white;
    font-size: 8px;
    line-height: 12px; 

    max-width: calc(100% - 100px);
    overflow: hidden; /* This will hide any part that goes off-screen */


}

 /* Upper-left element */
 #ascii-top-left {
    position: absolute;
    left: 50%; /* Start from the center */
    transform: translateX(-340px); /* Move to the right from the center */
    top: 280px; /* Adjust if you want to change the vertical position */

  }

  /* Upper-right element */
  #ascii-top-right {
    position: absolute;
    left: 50%; /* Start from the center */
    transform: translateX(140px); /* Move to the right from the center */
    top: 80px; /* Adjust if you want to change the vertical position */

  }

  #ascii-middle {
    text-align: center;
    position: relative; /* relative to its normal position */
    left: 44px; /* adjust the value to push it to the left */
  }

  /* Bottom-left element */
  #ascii-bottom-left {
    position: absolute;
    left: 50%; /* Start by centering the element */
    transform: translateX(calc(-50% - 430px)) translateY(-40px); /* Then shift it 100px to the left from the center */
  }

  /* Bottom-right element */
  #ascii-bottom-right {
    position: absolute;
    left: 50%; /* Start by centering the element */
    transform: translateX(calc(-50% + 290px)) translateY(-70px); /* Then shift it 100px to the left from the center */
  }
