:root {
  --links: #2D9CDB;
  --grey: #444;
  --title: #0081c7;
}

body{
    max-width:40em;
    margin:0 auto;
    padding:5px;
    font-family:Georgia, serif;
    font-size:20px;
    line-height:30px;
    color:#eeeeee;
    background-color:#20272F;
  }
 

a:link {
  color: var(--links);
  text-decoration: none;
}

a:visited {
  color: var(--links);
}

a:hover {
  text-decoration: underline;
}

h1,h2,h3 {
font-family:Tahoma, Verdana, sans-serif;
font-weight:normal;
}

h2, h3{
  color: #4EC5F1;
  margin-bottom: -12px;
  margin-top: 12px;
}


hr {
  margin-bottom: 20px;
}

p {
  padding-bottom: 0px;
}

.large-img {
  background-color: white;
  padding: 2px;
  margin: 10px 10px 5px 10px;
  width: 218px;
  height: 218px;
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  max-width: 100%;
    /* height: auto; */
}

/* .icon {
  
  width: 64px;
  height: 64px;
  padding-right:10px;
  padding-top: 0px;

  margin-top: -8px;
  margin-left: 17px;
  margin-right: -8px;
  right: 0px;
  float: left;
} */

.bookList {
  font-size: 24px;
}

.blogPostList {
  font-size: 24px;
}

#bookCover {
  width: auto;
  height: 256px;
  float: right;
  margin-top: 8px;

  margin-left: 8px;
}

#bookInfo{
  text-align: left;
  color:#787878;
  padding-bottom: 60px;
  
}

#blogPostInfo{
  text-align: left;
  color:#787878;
  padding-bottom: 10px;
}

#pageTitle {
  color: var(--title);
  text-decoration: underline;
}

#bookDiv {
  background-color:#2f3339; 
  padding: 10px;
  padding-top:1px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


#navbar {
  /* there must be a better way to do this */
  position: relative;
  right: -385px; 
  bottom: 53px;
  /* right: 0px; */
  
  /* right: 500; */
  
  width: 415px;
  background-color: #393e46;
  box-shadow: 0 10px 20px rgba(0,0,0,0.095), 0 6px 6px rgba(0,0,0,0.115);

  text-align: center;
}


#navbarlink {
  padding: 0px 30px 0px 30px;
  color:#4EC5F1;
}

#mc_embed_signup {
  margin-top: 19px;
  margin-left: 11px;
}

/* font awesome stuff */
i.fas, i.fab {
      color: "#0081c7"
  }

/* render /n as new line */
.display-linebreak {
  white-space: pre-line;
}

/* For dividers between blog posts and book posts */
.preview {
  background-color: "#4a4a4a";
}

code {
  white-space: pre-wrap;
  font-size: 0.8em;
  color: gray;
}

/* Different rules if on Mobile device */
@media (max-width: 500px){

  .large-img {
      background-color: white;
      padding: 2px;
      margin: 10px 10px 5px 10px;
      width: 118px;
      height: 118px;
      object-fit: cover;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

      max-width: 100%;
        /* height: auto; */
  }

  #navbar {
      /* there must be a better way to do this */
      position: relative;
      left: 0px;
      bottom: 0px;

      margin: auto; 
      /* right: 0px; */
      
      /* right: 500; */
      
      width: 390px;
      background-color: #393e46;
      box-shadow: 0 10px 20px rgba(0,0,0,0.095), 0 6px 6px rgba(0,0,0,0.115);
  
      text-align: center;
    }

    #navbarlink {
      
      padding: 0px 20px 0px 20px;
      color:#4EC5F1;
    }


}
/* Different rules if on Mobile device */

